body
  margin: 0
  padding: 0
  font-family: sans-serif

.newrow
  clear: both

.boxempty
  width: 8px
  height: 8px
  background-color: white
  border: solid 1px silver
  font-size: 10px
  float: left
  margin: 0
  padding: 0
  display: inline
  white-space: nowrap

.boxfull
  width: 8px
  height: 8px
  background-color: purple
  border: solid 1px silver
  font-size: 10px
  float: left
  margin: 0
  padding: 0
  display: inline
  white-space: nowrap

.fixwidth
  border: solid 1px white
  display: inline-block
  width: 1000px
  margin: 0px auto
  float: left
  white-space: nowrap


